---
import "../styles/carousel.css";
---

<script src="/restaurant/scripts/carousel.js" defer></script>

<div class="relative w-full h-screen overflow-hidden">
    <div class="carousel">
        <div class="list flex">
            <div
                class="item"
                style="background-image: url('/restaurant/images/queso-frito.webp');"
            >
            </div>
            <div
                class="item"
                style="background-image: url('/restaurant/images/entrecot.webp');"
            >
            </div>
            <div
                class="item"
                style="background-image: url('/restaurant/images/bravas.webp');"
            >
            </div>
            <div
                class="item"
                style="background-image: url('/restaurant/images/calamares.webp');"
            >
            </div>
            <div
                class="item"
                style="background-image: url('/restaurant/images/ensalada-cesar.webp');"
            >
            </div>
        </div>
        <!-- Flechas -->
        <div class="arrows">
            <button class="prev"> &#10094; </button>
            <button class="next"> &#10095; </button>
        </div>
    </div>
</div>

<section class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
        <div class="flex flex-col justify-center">
            <h2
                class="text-3xl font-bold text-gray-800 mb-4 text-center md:text-left"
            >
                ¡Conócenos!
            </h2>
            <p class="text-gray-600 mb-4 text-center md:text-left">
                Nuestro bar se encuentra en el encantador Camino de Moncada, en
                el corazón de Benicalap, Valencia. Rodeado por la belleza de la
                huerta valenciana, ofrecemos un rincón donde la tradición y la
                frescura se encuentran. Aquí, cada plato está elaborado con
                ingredientes locales de la mejor calidad, creando una
                experiencia culinaria que te hará sentir como en casa. ¡Ven y
                déjate envolver por el auténtico sabor de Valencia!
            </p>
            <p class="text-gray-600 mb-4 text-center md:text-left">
                <strong>Dirección:</strong>
                <a
                    href="https://www.google.com/maps?q=Camino+de+Moncada+111,+Valencia,+España"
                    target="_blank"
                    class="text-primary hover:underline"
                >
                    Camino de Moncada 111, Valencia, España
                </a>
            </p>
            <p class="text-gray-600 mb-4 text-center md:text-left">
                <strong>Horario:</strong> Lunes a Domingo: 10:00 AM - 10:00 PM.
            </p>
        </div>
        <div class="flex justify-center">
            <img
                src="/restaurant/images/local.webp"
                alt="Imagen del restaurante"
                sizes="(max-width: 640px) 100vw, (max-width: 1024px) 75vw, 50vw"
                class="w-full h-auto rounded-lg shadow-lg"
                loading="lazy"
            />
        </div>
    </div>
</section>
