---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <head>
        <title>Política de Privacidad | Bar El Caminito</title>
        <meta
            name="description"
            content="En Bar El Caminito, no recopilamos información personal de los usuarios. Este sitio está diseñado únicamente para proporcionar información sobre nuestro restaurante y nuestros servicios."
        />
        <meta
            name="keywords"
            content="política de privacidad, datos personales, Bar El Caminito, restaurante"
        />
        <meta name="author" content="Bar El Caminito" />
        <meta
            property="og:title"
            content="Política de Privacidad | Bar El Caminito"
        />
        <meta
            property="og:description"
            content="En Bar El Caminito, no recopilamos información personal de los usuarios. Este sitio está diseñado únicamente para proporcionar información sobre nuestro restaurante y nuestros servicios."
        />
        <meta property="og:image" content="/restaurant/images/equipo.webp" />
        <meta
            property="og:url"
            content="https://2020-jaug.github.io/restaurant/privacy-policy"
        />
        <meta property="og:type" content="website" />
        <link rel="stylesheet" href="/src/styles/tailwind.css" />
    </head>
    <section class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl font-bold text-gray-800 mb-8">
            Política de Privacidad
        </h1>
        <p class="text-gray-600 mb-4">
            En <strong>Bar El Caminito</strong>, no recopilamos información
            personal de los usuarios. Este sitio está diseñado únicamente para
            proporcionar información sobre nuestro restaurante y nuestros
            servicios.
        </p>
        <p class="text-gray-600 mb-4">
            Si alguna vez integramos herramientas de terceros, actualizaremos
            esta política para reflejar cómo manejamos los datos de los
            usuarios.
        </p>
    </section>
</Layout>
