---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl font-bold text-gray-800 mb-8">
            Política de Privacidad
        </h1>
        <p class="text-gray-600 mb-4">
            En <strong>Bar El Caminito</strong>, no recopilamos información
            personal de los usuarios. Este sitio está diseñado únicamente para
            proporcionar información sobre nuestro restaurante y nuestros
            servicios.
        </p>
        <p class="text-gray-600 mb-4">
            Si alguna vez integramos herramientas de terceros, actualizaremos
            esta política para reflejar cómo manejamos los datos de los
            usuarios.
        </p>
    </section>
</Layout>
