---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl font-bold text-gray-800 mb-8">
            Términos y Condiciones
        </h1>
        <p class="text-gray-600 mb-4">
            Bienvenido a <strong>Bar El Caminito</strong>. Este sitio web está
            diseñado para proporcionar información sobre nuestro restaurante,
            menú y ubicación.
        </p>
        <h2 class="text-2xl font-bold text-gray-800 mb-4">
            Propiedad del contenido
        </h2>
        <p class="text-gray-600 mb-4">
            Todo el contenido de este sitio, incluidas imágenes, textos y
            diseño, es propiedad de Bar El Caminito y está protegido por
            derechos de autor. No está permitido copiar, distribuir o usar
            contenido sin nuestro consentimiento.
        </p>
        <h2 class="text-2xl font-bold text-gray-800 mb-4">
            Limitación de responsabilidad
        </h2>
        <p class="text-gray-600 mb-4">
            No garantizamos que el contenido del sitio sea 100% preciso,
            actualizado o libre de errores.
        </p>
    </section>
</Layout>
