---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";
export const title = "Restaurant";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
	</head>
	<body class="bg-background text-textPrimary">
		<Navbar />

		<!-- Contenido principal -->
		<main class="flex-grow mt-16">
			<slot />
		</main>

		<Footer />
	</body>
</html>
