---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";
export const title = "Bar el Caminito";

let isPopupOpen = false;

function togglePopup() {
	isPopupOpen = !isPopupOpen;
	const popup = document.getElementById("contact-popup");
	if (popup) {
		popup.classList.toggle("hidden", !isPopupOpen);
	}
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<meta
			name="description"
			content="Bar el Caminito - Disfruta de una experiencia culinaria única en el corazón de Valencia."
		/>
		<meta
			name="keywords"
			content="restaurante, Valencia, comida, experiencia culinaria"
		/>
		<meta name="author" content="Bar el Caminito" />
		<meta property="og:title" content="Bar el Caminito" />
		<meta
			property="og:description"
			content="Disfruta de una experiencia culinaria única en el corazón de Valencia."
		/>
		<meta property="og:image" content="/restaurant/images/equipo.webp" />
		<meta
			property="og:url"
			content="https://2020-jaug.github.io/restaurant"
		/>
		<meta property="og:type" content="website" />
		<link
			rel="stylesheet"
			href="/restaurant/styles/tailwind.css"
			media="print"
			onload="this.onload=null;this.media='all';"
		/>
		<noscript>
			<link rel="stylesheet" href="/restaurant/styles/tailwind.css" />
		</noscript>
	</head>
	<body class="bg-background text-textPrimary flex flex-col min-h-screen">
		<Navbar onContactClick={togglePopup} />
		<main class="flex-grow mt-16">
			<slot />
		</main>
		<Footer onContactClick={togglePopup} />
		<!-- Modal -->
		<div
			id="contact-popup"
			class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
		>
			<div
				id="popup-content"
				class="bg-white p-6 rounded-lg shadow-lg w-80 relative"
			>
				<h3 class="text-lg font-bold text-gray-800 mb-4 text-center">
					¿Cómo deseas contactar?
				</h3>
				<div class="flex flex-col gap-4">
					<a
						href="tel:+123456789"
						target="_blank"
						class="w-full bg-primary text-white py-2 rounded-lg text-center hover:bg-opacity-90"
						data-option="contact"
					>
						Llamada Telefónica
					</a>
					<a
						href="mailto:contacto@barelcaminito.com"
						target="_blank"
						class="w-full bg-secondary text-white py-2 rounded-lg text-center hover:bg-opacity-90"
						data-option="contact"
					>
						Correo Electrónico
					</a>
				</div>
				<button
					id="close-popup"
					class="mt-4 text-gray-600 text-sm underline w-full text-center"
					data-option="close"
				>
					Cancelar
				</button>
			</div>
		</div>
		<script src="/restaurant/scripts/contact-popup.js" defer></script>
	</body>
</html>
